<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Thêm mới danh mục</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!--CSS FILES-->
  <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/assets/vendor/aos/aos.css}">
  <link rel="stylesheet" th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}">
  <link rel="stylesheet" th:href="@{/assets/vendor/simple-datatables/style.css}">
  <link rel="stylesheet" th:href="@{/assets/vendor/fontawesome/css/all.css}">
  <link rel="stylesheet" th:href="@{/assets/css/admin-style.css}">

  <!--JAVASCRIPT FILES-->
  <script th:src="@{'https://unpkg.com/isotope-layout@3.0.6/dist/isotope.pkgd.js'}"></script>
   
</head>

<body>

  <aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item py-3">
      <i class="fa-brands fa-jedi-order"></i>
      <span class="navbar-text">Mshoes<span style="color: #E6772E;">.</span></span>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" th:href="@{/}">
        <i class="fa-brands fa-squarespace"></i>
        <span class="navbar-text">Tổng quan </span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" th:href="@{/admin/order}">
        <i class="fa-brands fa-opencart"></i>
        <span class="navbar-text">Quản lý đơn hàng</span>
        <i class="fa-solid fa-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a th:href="@{/admin/order}">
            <i class="fa-regular fa-circle"></i><span>Xem đơn hàng</span>
          </a>
        </li>
        <li>
          <a th:href="@{/admin/order}">
            <i class="fa-regular fa-circle"></i><span>Chi tiết đơn hàng</span>
          </a>
        </li>
      </ul>
    </li><!-- End Order Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" th:href="@{/admin/product}">
        <i class="fa-solid fa-cube"></i><span class="navbar-text">Quản lý sản phẩm</span>
        <i class="fa-solid fa-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a th:href="@{/admin/product}">
            <i class="fa-regular fa-circle"></i><span>Xem sản phẩm</span>
          </a>
        </li>
        <li>
          <a th:href="@{/admin/product/create}">
            <i class="fa-regular fa-circle"></i><span>Thêm mới sản phẩm</span>
          </a>
        </li>
        <li>
          <a th:href="@{/admin/product}">
            <i class="fa-regular fa-circle"></i><span>Chi tiết sản phẩm sản phẩm</span>
          </a>
        </li>
      </ul>
    </li><!-- End Product Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" th:href="@{/admin/user}">
        <i class="fa-solid fa-users-viewfinder"></i><span class="navbar-text">Quản lý tài khoản</span>
        <i class="fa-solid fa-chevron-down ms-auto"></i>
      </a>
      <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a th:href="@{/admin/user}">
            <i class="fa-regular fa-circle"></i><span>Xem tài khoản</span>
          </a>
        </li>
        <li>
          <a th:href="@{/admin/user/create}">
            <i class="fa-regular fa-circle"></i><span>Thêm mới tài khoản</span>
          </a>
        </li>
        <li>
          <a th:href="@{/admin/user}">
            <i class="fa-regular fa-circle"></i><span>Chi tiết tài khoản</span>
          </a>
        </li>
      </ul>
    </li><!-- End Account Nav -->

    <li class="nav-item">
      <a class="nav-link" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
        <i class="fa-solid fa-bars-staggered"></i><span class="navbar-text">Quản lý danh mục</span><i class="fa-solid fa-chevron-down ms-auto"></i>
      </a>
      <ul id="charts-nav" class="nav-content " data-bs-parent="#sidebar-nav">
        <li>
          <a th:href="@{/admin/category}">
            <i class="fa-regular fa-circle"></i><span>Xem danh mục</span>
          </a>
        </li>
        <li>
          <a th:href="@{/admin/category/create}" class="active">
            <i class="fa-regular fa-circle"></i><span>Thêm mới danh mục</span>
          </a>
        </li>
        <li>
          <a th:href="@{/admin/category}">
            <i class="fa-regular fa-circle"></i><span>Chi tiết danh mục</span>
          </a>
        </li>
      </ul>
    </li><!-- End Category Nav -->
  </ul>
</aside><!-- End Sidebar-->

  <th:block th:replace="~{admin/fragments/header :: header}"></th:block>
  <!-- End Header -->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Người dùng</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/static}">Tổng quan</a></li>
          <li class="breadcrumb-item">Danh mục</li>
          <li class="breadcrumb-item active">Thêm mới danh mục</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Thêm mới danh mục</h5>

              <form th:id="'new-category'" th:method="'POST'" th:action="@{/admin/category/create}" th:object="${categoryRequest}" >
                <div class="row  mx-0" th:if="${error != '0' && error != null}">
                  <div class="col-md-11 offset-1 text-danger">Lỗi trong quá thêm dữ liệu mới!</div>
                </div>
                <div class="row mx-0">
                  <div class="col-lg-4 offset-1">
                    <label for="title" class="pt-3 pb-2">Tiêu đề danh mục:<span class="text-danger ps-1" style="font-size: 20px;">*</span></label>
                    <input type="text" name="title" id="title" class="form-control" placeholder="" onchange="validateField('title')">
                    <p id="title-error" class="text-danger err"></p>
                  </div>
                </div>
                <div class="row mx-0">
                  <div class="col-lg-4 offset-1">
                    <label for="description" class="pt-3 pb-2">Ghi chú danh mục:<span class="text-danger ps-1" style="font-size: 20px;">*</span></label>
                    <textarea type="text" name="description" id="description" cols="60" rows="5" placeholder=""></textarea>
                  </div>
                </div>
                <div class="row mt-5 pb-5 mx-0">
                  <div class="col-md-12 text-center">
                    <button type="submit" th:id="'create'" class="btn btn-success mx-2"><i class="fa-solid fa-right-to-bracket"></i> Thêm mới</button>
                    <button type="button" class="btn btn-secondary" onclick="goBack()">Quay lại <i class="fa-solid fa-arrow-right-from-bracket"></i></button>
                  </div>
                </div>
              </form>

              <script>
                function validateField(fieldName) {
                  const field = document.getElementById(fieldName);
                  const error = document.getElementById(`${fieldName}-error`);
                  const value = field.value.trim();

                  if (value === "") {
                    error.textContent = "Vui lòng điền thông tin!";
                    disableCreateButton();
                  }
                  enableCreateButton();
                }

                function disableCreateButton() {
                  const checkoutButton = document.getElementById("create");
                  checkoutButton.disabled = true;
                }

                function enableCreateButton() {
                  const title = document.getElementById("title");
                  const createButton = document.getElementById("create");
                  createButton.disabled = (title.value.trim() === "");
                }

                function goBack() {
                  window.history.back();
                }
              </script>
            </div>
          </div>

        </div>


      </div>
    </section>

  </main><!-- End #main -->




  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>ManhMinh</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">ManhMinh</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="fa-solid fa-arrow-up"></i></a>

 <!-- End Footer -->
 <div id="preloader"></div>

  <!--vendor-scripts.html-->
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{/assets/vendor/chart.js/chart.min.js}"></script>
  <script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
  <script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>

  <script th:src="@{/assets/js/admin-main.js}"></script>

</body>
</html>