<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giỏ hàng</title>
    <!--CSS FILES-->
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/aos/aos.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/fontawesome/css/all.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/simple-datatables/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <!--JAVASCRIPT FILES-->
    <script th:src="@{'https://unpkg.com/isotope-layout@3.0.6/dist/isotope.pkgd.js'}"></script>
</head>
<body>
    <th:block th:replace="~{web/fragments/header :: header}"></th:block>

    <main id="main" class="carts">
    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/home}">Trang chủ</a></li>
                <li class="breadcrumb-item active">Giỏ hàng</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <th:block th:if="${cartId} != null">
        <div class="col-10 mx-auto recent-sales overflow-auto mt-5">
            <table class="table table-striped datatable">
                <thead>
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Hình ảnh</th>
                    <th scope="col" class="text-center">Sản phẩm</th>
                    <th scope="col" class="text-center">Giá</th>
                    <th scope="col" class="text-center">Số lượng</th>
                    <th scope="col"  class="text-center">Xoá</th>
                    <th scope="col"  class="text-center">Thành tiền</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="cart,index : ${carts}">
                    <tr>
                        <th scope="row"><a href="#" th:utext="${index.index+1}"></a></th>
                        <td><img th:src="${cart.getProductItemResponse().imageResponses[0].url}" class="rounded"></td>
                        <td style="position: relative">
                            <a th:href="@{${'/home/product/detail/' + cart.getProductItemResponse().id}}" class="text-primary">[[${cart.getProductItemResponse().name}]] </a>
                            <span th:class="'d-block'">
                      <span th:text="${cart.color + ' / ' + cart.size}" th:style="'font-size:14px'"></span>
                  </span>
                        </td>
                        <td>
                            <strong th:class="'price'" th:if="${cart.getProductItemResponse().discountPrice != 0}" th:id="'price-' + ${index.index+1}" th:style="'font-size: 16px;color: #E64A45;'">[[${cart.getProductItemResponse().discountPrice}]]</strong>
                            <span th:class="'price'" th:if="${cart.getProductItemResponse().discountPrice != 0}"  th:style="'text-decoration:line-through; color:#959595; font-size: 14px;'">[[${cart.getProductItemResponse().price}]]</span>
                            <strong th:class="'price'" th:if="${cart.getProductItemResponse().discountPrice == 0}"  th:id="'price-' + ${index.index+1}" th:style="'font-size: 16px;color: #E64A45;'">[[${cart.getProductItemResponse().price}]]</strong>
                        </td>
                        <td>
                            <div th:id="'btn-quantity-' + ${index.index+1}">
                                <form th:action="@{/home/cart/{id}(id=${cart.id},o='m')}" method="POST" th:class="'d-inline-block'">
                                    <input type="hidden" name="_method" value="PUT" />
                                    <button type="submit" th:class="'border-0'" th:style="'background: transparent'">
                                        <i class="fa-solid fa-minus"></i>
                                    </button>
                                </form>
                                <input type="text" name="quantity" th:id="'quantity-' +${index.index+1}"  class="btn btn-light" th:value="${cart.getQuantity()}" style="width: 50px;">
                                <form th:action="@{/home/cart/{id}(id=${cart.id},o='p')}" method="POST" th:class="'d-inline-block'">
                                    <input type="hidden" name="_method" value="PUT" />
                                    <button type="submit" th:class="'border-0'" th:style="'background: transparent'">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                        <td>
                            <form th:action="@{/home/cart/delete/{id}(id=${cart.id})}" method="POST">
                                <input type="hidden" name="_method" value="DELETE" />
                                <button type="submit" th:class="'border-0'" th:style="'background: transparent'"><i class="fa-solid fa-xmark"></i></button>
                            </form>
                        </td>
                        <td>
                            <span th:id="'total-item' + ${index.index+1}" ></span>
                        </td>
                    </tr>
                    <script>
                        var discountPriceInput = [[${cart.getProductItemResponse().discountPrice}]];
                        var priceInput = [[${cart.getProductItemResponse().price}]];
                        var index = [[${index.index+1}]];
                        var price = 0;
                        if (discountPriceInput !== 0) {
                            price = discountPriceInput;
                        } else {
                            price = priceInput;
                        }

                        // Lấy các phần tử HTML cần thiết
                        var quantityElement = document.getElementById("quantity-"+index.toString());
                        var totalElement = document.getElementById("total-item"+index.toString());

                        // Tính toán tổng tiền và cập nhật phần tử HTML "total"
                        function updateTotal() {
                            var quantity = parseInt(quantityElement.value, 10);
                            var total = price * quantity;
                            totalElement.innerText = total.toLocaleString('vi-VN') + 'đ';
                        }
                        // Cập nhật tổng tiền ban đầu
                        updateTotal();
                    </script>
                </th:block>
                <script>
                    function totalAmount(){
                        let totalAmountElements = document.querySelectorAll('[id^="total-item"]');
                        let totalPrice = 0;
                        for (let i = 0; i < totalAmountElements.length; i++) {
                            totalPrice += parseFloat(totalAmountElements[i].textContent.replace(/\D/g,''));
                        }
                        document.getElementById("total-amount").value = totalPrice.toLocaleString('vi-VN') + 'đ';
                        document.getElementById("amount").value = totalPrice;
                    }
                    function totalQuantity(){
                        let totalQuantityElements = Array.from(document.querySelectorAll('[id^="quantity"]'));
                        document.getElementById("total-quantity").value = totalQuantityElements.reduce((total, element) => {
                            let quantity = parseFloat(element.value.replace(/,/g, ''));
                            return total + quantity;
                        }, 0);
                    }
                </script>
                </tbody>
            </table>

            <div class="row mx-0">
                <form th:action="@{/home/cart/checkout}" method="get">
                    <div class="col-lg-5 py-2 justify-content-end offset-lg-7 d-flex align-items-center">
                        <input type="number" th:class="'d-none'" name="id" th:value="${cartId}">
                        <label for="total-quantity" th:class="'pe-2'">Tổng số lượng: </label>
                        <input type="text" name="quantity" id="total-quantity" th:class="'d-inline-block form-control text-center'" th:style="'width:60px;'">

                        <label for="total-amount" th:class="'ps-4  pe-2'">Tổng tiền: </label>
                        <input type="text" id="total-amount" th:class="'d-inline-block form-control text-center'" th:style="'width:120px;'">
                        <input type="hidden" name="amount" id="amount">
                    </div>

                    <div class="col-lg-12 text-end py-3">
                        <button type="submit" class="btn btn-success py-2 px-3">Thanh toán</button>
                    </div>
                </form>

            </div>
        </div><!-- End Recent Sales -->
        <script>
            window.onload = function() {
                totalAmount();
                totalQuantity();
            };
        </script>
    </th:block>
    <th:block th:if="${cartId} == null">
        <div class="row mx-0" >
            <div class="col-lg-12 text-center py-5">
                <h5>Bạn chưa có sản phẩm nào trong giỏ hàng!</h5>
                <a th:href="@{/home/product}" class="text-decoration-underline" style="color: #E6772E;">THÊM SẢN PHẨM</a>
            </div>
        </div>
    </th:block>

</main>

    <th:block th:replace="~{web/fragments/footer :: footer}"></th:block>
</body>
</html>