<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt hàng</title>
    <!--CSS FILES-->
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/aos/aos.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/fontawesome/css/all.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/simple-datatables/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <!--JAVASCRIPT FILES-->
    <script th:src="@{'https://unpkg.com/isotope-layout@3.0.6/dist/isotope.pkgd.js'}"></script>

</head>
<body>
    <th:block th:replace="~{web/fragments/header :: header}"></th:block>

    <main id="main" class="carts">
        <div class="pagetitle">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Đặt hàng</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <div class="row mx-0 align-items-center">
            <div class="col-lg-10 mx-auto">
                <div class="check-out py-5">
                    <div class="row mx-0 align-items-top">
                        <div class="col-lg-6 shipping-infor">
                            <form th:action="@{/home/cart/checkout}" method="POST" th:object="${checkOutRequest}">
                                <div class="row mx-0">
                                    <div class="col-lg-12">
                                        <label for="fullname" class="pt-3 pb-2">Họ và tên:<span class="text-danger ps-1" style="font-size: 20px;">*</span></label>
                                        <input type="text" name="fullname" id="fullname" class="form-control" placeholder="" th:value="${userCheckOut.getFullname()}" onchange="validateField('fullname')">
                                        <p id="fullname-error" class="text-danger err"></p>
                                    </div>
                                </div>

                                <div class="row mx-0">
                                    <div class="col-lg-7">
                                        <label for="email" class="pt-3 pb-2">Email:<span class="text-danger ps-1" style="font-size: 20px;">*</span></label>
                                        <input type="text" name="email" id="email" class="form-control" placeholder="" th:value="${userCheckOut.getEmail()}"onchange="validateField('email')">
                                        <p id="email-error" class="text-danger err"></p>
                                    </div>
                                    <div class="col-lg-5">
                                        <label for="phone" class="pt-3 pb-2">Số điện thoại:<span class="text-danger ps-1" style="font-size: 20px;">*</span></label>
                                        <input type="text" name="phone" id="phone" class="form-control" placeholder="" th:value="${userCheckOut.getPhone()}"onchange="validateField('phone')">
                                        <p id="phone-error" class="text-danger err"></p>
                                    </div>
                                </div>
                                <div class="row mx-0">
                                    <div class="col-lg-12">
                                        <label for="address" class="pt-3 pb-2">Địa chỉ nhận hàng:<span class="text-danger ps-1" style="font-size: 20px;">*</span></label>
                                        <input type="text" name="address" id="address" class="form-control" placeholder="" th:value="${userCheckOut.getAddress()}" onchange="validateField('address')">
                                        <p id="address-error" class="text-danger err"></p>
                                    </div>
                                </div>

                                <div class="row mx-0">
                                    <div class="col-lg-4">
                                        <label for="city" class="pt-3 pb-2">Tỉnh / Thành:</label>

                                        <select id="city" name="city" class="form-select" style="font-size: 14px;">
                                            <option value="">--Tỉnh/Thành--</option>
                                        </select>
                                    </div>

                                    <div class="col-lg-4">
                                        <label for="district" class="pt-3 pb-2">Quận / Huyện:</label>

                                        <select id="district" name="district" class="form-select" style="font-size: 14px;">
                                            <option value="">--Quận / Huyện--</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="ward" class="pt-3 pb-2">Phường / Xã:</label>

                                        <select id="ward" name="ward" class="form-select" style="font-size: 14px;">
                                            <option value="">--Phường / Xã--</option>
                                        </select>
                                    </div>
                                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
                                    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

                                    <script>
                                        const host = "https://provinces.open-api.vn/api/";
                                        var callAPI = (api) => {
                                            return axios.get(api)
                                                .then((response) => {
                                                    renderData(response.data, "city");
                                                });
                                        }
                                        callAPI('https://provinces.open-api.vn/api/?depth=1');
                                        var callApiDistrict = (api) => {
                                            return axios.get(api)
                                                .then((response) => {
                                                    renderData(response.data.districts, "district");
                                                });
                                        }
                                        var callApiWard = (api) => {
                                            return axios.get(api)
                                                .then((response) => {
                                                    renderData(response.data.wards, "ward");
                                                });
                                        }

                                        var renderData = (array, select) => {
                                            let row = ' <option disable value="">Chọn</option>';
                                            array.forEach(element => {
                                                row += `<option data-id="${element.code}" value="${element.name}">${element.name}</option>`
                                            });
                                            document.querySelector("#" + select).innerHTML = row
                                        }

                                        $("#city").change(() => {
                                            callApiDistrict(host + "p/" + $("#city").find(':selected').data('id') + "?depth=2");
                                            printResult();
                                        });
                                        $("#district").change(() => {
                                            callApiWard(host + "d/" + $("#district").find(':selected').data('id') + "?depth=2");
                                            printResult();
                                        });
                                        $("#ward").change(() => {
                                            printResult();
                                        })

                                        var printResult = () => {
                                            if ($("#district").find(':selected').data('id') !== "" && $("#city").find(':selected').data('id') !== "" &&
                                                $("#ward").find(':selected').data('id') !== "") {
                                                let result = $("#city option:selected").text() +
                                                    " | " + $("#district option:selected").text() + " | " +
                                                    $("#ward option:selected").text();
                                                $("#result").text(result)
                                            }

                                        }
                                    </script>
                                </div>


                                <div class="row mx-0">
                                    <div class="col-lg-12">
                                        <label  class="pt-4 pb-2">Phương thức thanh toán:</label>
                                        <div class="form-check pb-3">
                                            <input class="form-check-input" type="radio" name="paymentMethod" id="cod" value="cod" th:checked="${vnp_Response == ''}" >
                                            <label class="form-check-label" for="cod">
                                                Thanh toán khi nhận hàng (COD)
                                            </label>
                                        </div>

                                        <div class="form-check pb-3">
                                            <input class="form-check-input"  type="radio" name="paymentMethod" id="bank" value="bank" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2" th:checked="${vnp_Response != ''}">
                                            <label class="form-check-label" for="bank">
                                                Thanh toán chuyển khoản
                                            </label>

                                            <div class="collapse multi-collapse py-3" id="multiCollapseExample2">
                                                <div class="card card-body">
                                                    Thanh toán chuyển khoản bằng ngân hàng hoặc QR...
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row mx-0">
                                    <div class="col-lg-12">
                                        <label  class="pt-3 pb-2 d-block">Ghi chú:</label>
                                        <textarea id="notes" name="notes" cols="70" rows="5"></textarea>
                                    </div>
                                </div>
                                <input type="hidden" id="total-quanity" name="totalQuantity" th:class="'d-none'" th:value="${orderDetailRequest.getTotalQuantity()}">
                                <input type="hidden" id="total-amount" name="totalAmount" th:class="'d-none'" th:value="${orderDetailRequest.getTotalAmount()}">
                                <input type="hidden" name="id" th:class="'d-none'" th:value="${cartId}">
                                <input type="hidden" name="_method" value="PUT">
                                <div class="row mx-0 pt-3">
                                    <div class="col-lg-12 text-end">
                                        <button type="submit" th:id="'checkout'" class="btn btn-success px-4" name="button" >Đặt hàng</button>
                                    </div>
                                </div>
                            </form>

                                <script>
                                    const $$ = document.querySelector.bind(document);
                                    const btnSub = $$('#checkout');
                                    btnSub.addEventListener('click', e => {

                                        const bank = $$('#bank');
                                        const cod = $$('#cod');
                                        if(bank.checked){
                                            e.preventDefault();
                                            const urlParams = new URLSearchParams(window.location.search);
                                            // Define the URL to POST the data to
                                            const url = '/home/cart/checkout_bank';
                                            const amount = urlParams.get('amount');
                                            const data = {
                                                phone: $$('#phone').value,
                                                address : $$('#address').value+', '+$$('#ward').value + ', '+$$('#district').value + ', ' + $$('#city').value,
                                                notes: $$('#notes').value,
                                                totalQuantity : $$('#total-quanity').value,
                                                totalAmount : amount,
                                                id : urlParams.get('id')
                                            }
                                            console.log(JSON.stringify(data));
                                            const options = {
                                                method: 'POST',
                                                headers: {
                                                    'Content-Type': 'application/json'
                                                },
                                                body: JSON.stringify(data)
                                            };

                                            fetch(url, options)
                                                .then(response => response.json())
                                                .then(({data}) => {
                                                    console.log(data);
                                                    window.location.href = data;
                                                })
                                                .catch(error => console.error(error));
                                            return;
                                        }

                                    })

                                    function validateField(fieldName) {
                                    const field = document.getElementById(fieldName);
                                    const error = document.getElementById(`${fieldName}-error`);
                                    const value = field.value.trim();

                                    if (value === "") {
                                    error.textContent = "Vui lòng điền thông tin!";
                                    disableCheckoutButton();
                                    } else {
                                        error.textContent = "";
                                        switch (fieldName) {
                                                case "email":
                                                const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                                                if (!emailRegex.test(value)) {
                                                error.textContent = "Địa chỉ email không hợp lệ!";
                                                disableCheckoutButton();
                                            }
                                            break;
                                            case "phone":
                                            const phoneRegex = /^\d{10}$/;
                                            if (!phoneRegex.test(value)) {
                                                error.textContent = "Số điện thoại không hợp lệ!";
                                                disableCheckoutButton();
                                            }
                                            break;
                                            default:
                                            // Do nothing
                                            break;
                                        }
                                    }

                                    enableCheckoutButton();
                                }

                                    function disableCheckoutButton() {
                                    const checkoutButton = document.getElementById("checkout");
                                    checkoutButton.disabled = true;
                                    }

                                    function enableCheckoutButton() {
                                    const fullname = document.getElementById("fullname");
                                    const email = document.getElementById("email");
                                    const phone = document.getElementById("phone");
                                    const address = document.getElementById("address");

                                    const checkoutButton = document.getElementById("checkout");
                                    checkoutButton.disabled = (fullname.value.trim() === "" || email.value.trim() === "" || phone.value.trim() === "" || address.value.trim() === "");
                                }
                            </script>
                        </div>

                        <!-- RIGHT -->
                        <div class="col-lg-6 cart-infor py-4 px-3">

                            <th:block th:each="cart : ${carts}">
                                <div class="row mx-0 align-items-center py-2">
                                    <div class="col-lg-2 position-relative">
                                        <img th:src="${cart.getProductItemResponse().getImageResponses[0].url}" alt="" class="w-100 product-img-checkout">
                                        <span class="quantity" th:text="${cart.getQuantity()}"></span>
                                    </div>
                                    <div class="col-lg-7 ps-5">
                                        <div class="product-name" th:text="${cart.getProductItemResponse().name}"></div>
                                        <span class="d-block" style="font-size: 12px;color: #727171;" th:text="${cart.color + ' / ' + cart.size}"></span>
                                    </div>
                                    <div class="col-lg-3 text-end">
                                <span class="product-price-checkout">
                                    <strong th:class="'price'"  th:if="${cart.getProductItemResponse().discountPrice != 0}">
                                        [[${cart.getProductItemResponse().discountPrice}]]
                                    </strong>
                                    <strong th:class="'price'" th:if="${cart.getProductItemResponse().discountPrice == 0}">
                                        [[${cart.getProductItemResponse().price}]]
                                    </strong>

                                </span>
                                    </div>
                                </div>
                            </th:block>
                            <div class="row mx-0 py-5">
                                <div class="col-lg-12">
                                    <div class="d-flex justify-content-end">
                                        <span class="fs-5 pe-3">Số lượng:
                                            <span class="total-quantity" th:text="${orderDetailRequest.getTotalQuantity()}">
                                            </span>
                                        </span>
                                        <span class="fs-5">Tổng tiền:
                                            <span class="total-amount price" >
                                                [[${orderDetailRequest.getTotalAmount()}]]
                                            </span>
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <th:block th:replace="~{web/fragments/footer :: footer}"></th:block>
</body>
</html>