<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bộ sưu tập</title>
    <!--CSS FILES-->
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/aos/aos.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/fontawesome/css/all.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/simple-datatables/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <!--JAVASCRIPT FILES-->
    <script th:src="@{'https://unpkg.com/isotope-layout@3.0.6/dist/isotope.pkgd.js'}"></script>
    
</head>
<body>
  <div class="row m-0">
    <div class="col-xl-10 col-lg-11 mx-auto">
      <div class="user-header d-flex justify-content-between">
        <div class="brand-logo text-center">
          M
        </div>

        <div class="user-menu d-flex justify-content-between">
          <div class="find-store">
            <a href="#" class="">Tìm kiếm cửa hàng</a>
          </div>
          |
          <div class="help">
            <a href="#" class="">Trợ giúp</a>
          </div>
          |
          <div class="join-us">
            <a href="signup.html" class="">Đăng ký</a>
          </div>
          |
          <div class="sign-in">
            <a href="login.html" class="">Đăng nhập</a>
          </div>
      </div>
      
      </div>
    </div>
  </div>
  
     <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-11 d-flex align-items-center justify-content-lg-between">
          <h1 class="logo me-auto me-lg-0"><a href="index.html">MShoes<span class="logo-dot">.</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
              <li><a class="nav-link scrollto" href="#slider">Trang chủ</a></li>
              <li><a class="nav-link scrollto" href="#about">Về chúng tôi</a></li>
              <li class="dropdown"><a class="nav-link scrollto" href="#product"><span>Sản phẩm</span> <i class="fa-solid fa-chevron-down"></i></a>
                <ul>
                  <li><a href="#">Nike</a></li>
                  <li class="dropdown"><a href="#"><span>Balenciaga</span> <i class="fa-solid fa-chevron-right"></i></a>
                    <ul>
                      <li><a href="#">Adidas</a></li>
                      <li><a href="#">Balenciaga</a></li>
                      <li><a href="#">Dior</a></li>
                      <li><a href="#">Channel</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Adidas</a></li>
                  <li><a href="#">Dior</a></li>
                </ul>
              </li>
              <li><a class="nav-link scrollto" href="#events">Sự kiện</a></li>
              <li><a class="nav-link scrollto" href="#store">Cửa hàng</a></li>
              <li><a class="nav-link scrollto active" href="collection.html">Bộ sưu tập</a></li>
              <li><a class="nav-link scrollto" href="#contact">Liên hệ</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->

          <form class="search scrollto position-relative" role="search">
            <input class="form-control me-2 rounded-pill " type="search" placeholder="Search..." aria-label="Search">
            <button type="submit" class="position-absolute rounded-pill"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        </div>
      </div>

    </div>
  </header><!-- End Header -->



   <main id="main">
    <section class="banner">
        <img src="assets/images/banner/banner.jpg" alt="" class="banner-image">
    </section>
    <section class="collections">
      <div class="row">
        <div class="col-lg-10 mx-auto d-flex flex-wrap">
          <a href="#" class="col-lg-4 collection-item">
            <div class="">
              <div class="coll-item-img">
                <figure> <img src="assets/images/collection/collection_2.jpg" alt="" /></figure>
                </div>
              <div class="coll-item-des">
                  <h4 class="item-heading">LOVE MORE</h4>
                  <span>VIEW CAMPAIGN</span>
                </div>
            </div>
          </a><!--End Collection Item-->
          <a href="#" class="col-lg-4 collection-item">
            <div class="">
              <div class="coll-item-img">
                <figure> <img src="assets/images/collection/collection_4.jpg" alt="" /></figure>
                </div>
              <div class="coll-item-des">
                  <h4 class="item-heading">LOVE MORE</h4>
                  <span>VIEW CAMPAIGN</span>
                </div>
            </div>
          </a><!--End Collection Item-->
          <a href="#" class="col-lg-4 collection-item">
            <div class="">
              <div class="coll-item-img">
                <figure> <img src="assets/images/collection/collection_3.jpg" alt="" /></figure>
                </div>
              <div class="coll-item-des">
                  <h4 class="item-heading">LOVE MORE</h4>
                  <span>VIEW CAMPAIGN</span>
                </div>
            </div>
          </a><!--End Collection Item-->
          <a href="#" class="col-lg-4 collection-item">
            <div class="">
              <div class="coll-item-img">
                <figure> <img src="assets/images/collection/collection_5.jpg" alt="" /></figure>
                </div>
              <div class="coll-item-des">
                  <h4 class="item-heading">LOVE MORE</h4>
                  <span>VIEW CAMPAIGN</span>
                </div>
            </div>
          </a><!--End Collection Item-->
          <a href="#" class="col-lg-4 collection-item">
            <div class="">
              <div class="coll-item-img">
                <figure> <img src="assets/images/collection/collection_6.jpg" alt="" /></figure>
                </div>
              <div class="coll-item-des">
                  <h4 class="item-heading">LOVE MORE</h4>
                  <span>VIEW CAMPAIGN</span>
                </div>
            </div>
          </a><!--End Collection Item-->
          <a href="#" class="col-lg-4 collection-item">
            <div class="">
              <div class="coll-item-img">
                <figure> <img src="assets/images/collection/collection_7.jpg" alt="" /></figure>
                </div>
              <div class="coll-item-des">
                  <h4 class="item-heading">LOVE MORE</h4>
                  <span>VIEW CAMPAIGN</span>
                </div>
            </div>
          </a><!--End Collection Item-->

        </div>
        
      </div>
    </section>
   </main>

  <th:block th:replace="~{web/fragments/footer :: footer}"></th:block>
</body>
</html>