<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đơn hàng</title>
  <!--CSS FILES-->
  <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/assets/vendor/aos/aos.css}">
  <link rel="stylesheet" th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}">
  <link rel="stylesheet" th:href="@{/assets/vendor/fontawesome/css/all.css}">
  <link rel="stylesheet" th:href="@{/assets/vendor/simple-datatables/style.css}">
  <link rel="stylesheet" th:href="@{/assets/css/style.css}">

  <!--JAVASCRIPT FILES-->
  <script th:src="@{'https://unpkg.com/isotope-layout@3.0.6/dist/isotope.pkgd.js'}"></script>
    
</head>
<body>
  <th:block th:replace="~{web/fragments/header :: header}"></th:block>

  <main id="main" class="orders">
    <div class="pagetitle">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item active">Thông tin cá nhân</li>
          </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="row mx-0 mt-5">
      <div class="col-lg-3 offset-1">
        <div class="card">
          <div class="card-body order-card pt-4 ">
            <div class="d-flex justify-content-center align-items-center">
              <img th:if="${oldUser.getImage() == null}" src="/assets/images/user/default.png" alt="order" class="rounded-circle">
              <img th:if="${oldUser.getImage() != null}" th:src="${oldUser.getImage()}" alt="order" class="rounded-circle">
              <div class="ps-3">
                <h5 class="mb-0" th:text="${oldUser.fullname}"></h5>
                <span><a th:href="@{/home/user/profile}" class="edit-profile"><i class="fa-solid fa-pencil pe-1"></i>Sửa hồ sơ</a></i></span>
              </div>
            </div>

            <ul class="order-list">
              <li>
                <i class="fa-solid fa-signature"></i>
                <span th:text="${oldUser.fullname}"></span>
              </li>
              <li>
                <i class="fa-solid fa-at"></i>
                <span th:text="${oldUser.email}"></span>
              </li>
              <li>
                <i class="fa-solid fa-mobile-screen"></i>
                <span th:text="${oldUser.phone}"></span>
              </li>
              <li>
                <i class="fa-solid fa-location-dot"></i>
                <span th:text="${oldUser.address}"></span>
              </li>
            </ul>

          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="card order">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">
  
              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#order-all">Tất cả</button>
              </li>
  
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#order-0">Chờ xác nhận</button>
              </li>
  
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#order-1">Chờ lấy hàng</button>
              </li>
  
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#order-2">Đang giao</button>
              </li>
  
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#order-3">Đã giao</button>
              </li>
  
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#order-4">Đã huỷ</button>
              </li>
  
            </ul>
            <div class="tab-content pt-2">
  
              <div class="tab-pane fade show active order-all" id="order-all">
                <th:block th:each="orderDetail : ${orderDetails}">
                  <div class="order-item">
                    <div class="order-title d-flex justify-content-between align-items-center">
                      <strong th:text="${'#' + orderDetail.getOrderCode()}"></strong>
                      <span>
                    <i class="fa-solid fa-truck"></i>
                      |
                        <span th:if="${orderDetail.status == 0}" >
                          <span th:text="'Chờ xác nhận'" th:class="'badge bg-warning'"></span>
                          |
                          <button class="border-0" th:style="'background: transparent'" data-bs-toggle="modal" data-bs-target="#cancel-order1">Huỷ đơn</button>
                          <!-- Modal -->
                          <div class="modal fade" id="cancel-order1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="exampleModalLabel1">Xác nhận</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  Bạn chắc chắn huỷ đơn hàng này không?
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                  <form th:action="@{/home/user/cancelOrder/{id}(id= ${orderDetail.id})}" method="post" th:class="'d-inline-block'">
                                    <input type="hidden" name="_method" th:value="'PUT'">
                                    <button type="submit" th:class="'btn btn-danger'">Xác nhận huỷ</button>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </span>
                        <span th:if="${orderDetail.status == 1}" th:class="'badge bg-warning'" th:text="'Chờ lấy hàng'"></span>
                        <span th:if="${orderDetail.status == 2}" th:class="'badge bg-primary'" th:text="'Đang giao'"></span>
                        <span th:if="${orderDetail.status == 3}" th:class="'badge bg-success'" th:text="'Đã giao'"></span>
                        <span th:if="${orderDetail.status == 4}" th:class="'badge bg-danger'" th:text="'Đã huỷ'"></span>
                    </span>
                    </div>
                    <div class="row mx-0 align-items-center py-2">
                      <div class="col-lg-2 position-relative">
                        <img th:src="${orderDetail.getOrderItemResponses[0].getProductItemResponse().getImageResponses[0].url}" alt="" class="w-100 product-img-checkout">
                      </div>
                      <div class="col-lg-7 ps-5">
                        <div class="product-name" th:text="${orderDetail.getOrderItemResponses[0].getProductItemResponse().name}"></div>
                        <span class="d-block" style="font-size: 12px;color: #727171;" th:text="${orderDetail.getOrderItemResponses[0].getColor() + ' / ' + orderDetail.getOrderItemResponses[0].getSize() }"></span>
                        <span class="d-block" th:text="${'x' + orderDetail.getTotalQuantity()}"> x4</span>
                      </div>
                      <div class="col-lg-3 text-end">
                        <span class="product-price-checkout d-flex flex-column">
                            <span th:if="${orderDetail.getOrderItemResponses[0].getProductItemResponse().discountPrice != 0}">
                              <span class="text-decoration-line-through price"  th:text="${orderDetail.getOrderItemResponses[0].getProductItemResponse().price}"></span>
                              <strong style="color: #E64A45;" th:class="'price'" th:text="${orderDetail.getOrderItemResponses[0].getProductItemResponse().discountPrice}"></strong>
                            </span>
                            <span th:if="${orderDetail.getOrderItemResponses[0].getProductItemResponse().discountPrice == 0}">
                              <strong style="color: #E64A45;" th:class="'price'" th:text="${orderDetail.getOrderItemResponses[0].getProductItemResponse().price}"></strong>
                            </span>
                        </span>
                      </div>
                    </div>
                    <div class="row order-item-end">
                      <div class="col-lg-12 text-end">
                          <i class="fa-solid fa-file-invoice-dollar pe-2 fs-4"></i>
                          | Tổng tiền:
                          <h4 class="d-inline-block">
                            <strong th:class="'price'" style="color: #E64A45;" th:text="${orderDetail.getTotalAmount()}">1.990.000đ</strong>
                          </h4>
                      </div>
                    </div>

                    <div class="row order-item-end py-3 ">
                      <div class="col-lg-12 d-flex justify-content-between align-items-center">
                        <span>
                          <p th:text="${'Ghi chú: '  + orderDetail.getNotes()}"></p>
                          <span th:text="${'Thời gian: '  + orderDetail.getCreatedDate()}"></span>
                        </span>
                        <div>
                          <a href="#" class="me-2">Mua lần nữa</a>
                          <a href="#">Xem chi tiết</a>
                        </div>

                      </div>
                    </div>
                  </div>
                </th:block>

              </div>
  
              <div class="tab-pane fade order-0 pt-3" id="order-0">
                <th:block th:each="orderDetail : ${orderDetailStatus0}">
                  <div class="order-item">
                    <div class="order-title d-flex justify-content-between align-items-center">
                      <strong th:text="${'#' + orderDetail.getOrderCode()}"></strong>
                      <span>
                    <i class="fa-solid fa-truck"></i>
                      |
                        <span th:if="${orderDetail.status == 0}" >
                          <span th:text="'Chờ xác nhận'" th:class="'badge bg-warning'"></span>
                          |
                          <button class="border-0" th:style="'background: transparent'" data-bs-toggle="modal" data-bs-target="#cancel-order">Huỷ đơn</button>
                          <!-- Modal -->
                          <div class="modal fade" id="cancel-order" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  Bạn chắc chắn huỷ đơn hàng này không?
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                  <form th:action="@{/home/user/cancelOrder/{id}(id= ${orderDetail.id})}" method="post" th:class="'d-inline-block'">
                                    <input type="hidden" name="_method" th:value="'PUT'">
                                    <button type="submit" th:class="'btn btn-danger'">Xác nhận huỷ</button>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </span>
                    </span>
                    </div>
                    <div class="row mx-0 align-items-center py-2">
                      <div class="col-lg-2 position-relative">
                        <img th:src="${orderDetail.getOrderItemResponses[0].getProductItemResponse().getImageResponses[0].url}" alt="" class="w-100 product-img-checkout">
                      </div>
                      <div class="col-lg-7 ps-5">
                        <div class="product-name" th:text="${orderDetail.getOrderItemResponses[0].getProductItemResponse().name}"></div>
                        <span class="d-block" style="font-size: 12px;color: #727171;" th:text="${orderDetail.getOrderItemResponses[0].getColor() + ' / ' + orderDetail.getOrderItemResponses[0].getSize() }"></span>
                        <span class="d-block" th:text="${'x' + orderDetail.getTotalQuantity()}"> x4</span>
                      </div>
                      <div class="col-lg-3 text-end">
                        <span class="product-price-checkout d-flex flex-column">
                            <span th:if="${orderDetail.getOrderItemResponses[0].getProductItemResponse().discountPrice != 0}">
                              <span class="text-decoration-line-through price"  th:text="${orderDetail.getOrderItemResponses[0].getProductItemResponse().price}"></span>
                              <strong style="color: #E64A45;" th:class="'price'" th:text="${orderDetail.getOrderItemResponses[0].getProductItemResponse().discountPrice}"></strong>
                            </span>
                            <span th:if="${orderDetail.getOrderItemResponses[0].getProductItemResponse().discountPrice == 0}">
                              <strong style="color: #E64A45;" th:class="'price'" th:text="${orderDetail.getOrderItemResponses[0].getProductItemResponse().price}"></strong>
                            </span>
                        </span>
                      </div>
                    </div>
                    <div class="row order-item-end">
                      <div class="col-lg-12 text-end">
                          <i class="fa-solid fa-file-invoice-dollar pe-2 fs-4"></i>
                          | Tổng tiền:
                          <h4 class="d-inline-block">
                            <strong th:class="'price'" style="color: #E64A45;" th:text="${orderDetail.getTotalAmount()}">1.990.000đ</strong>
                          </h4>
                      </div>
                    </div>

                    <div class="row order-item-end py-3 ">
                      <div class="col-lg-12 d-flex justify-content-between align-items-center">
                       <span>
                          <p th:text="${'Ghi chú: '  + orderDetail.getNotes()}"></p>
                          <span th:text="${'Thời gian: '  + orderDetail.getCreatedDate()}"></span>
                        </span>
                        <div>
                          <a href="#" class="me-2">Mua lần nữa</a>
                          <a href="#">Xem chi tiết</a>
                        </div>

                      </div>
                    </div>
                  </div>
                </th:block>

              </div>
  
              <div class="tab-pane  fade pt-3" id="order-1">
                <th:block th:each="orderDetail : ${orderDetailStatus1}">
                  <div class="order-item">
                    <div class="order-title d-flex justify-content-between align-items-center">
                      <strong th:text="${'#' + orderDetail.getOrderCode()}"></strong>
                      <span>
                    <i class="fa-solid fa-truck"></i>
                      |

                        <span th:class="'badge bg-warning'" th:text="'Chờ lấy hàng'"></span>
                    </span>
                    </div>
                    <div class="row mx-0 align-items-center py-2">
                      <div class="col-lg-2 position-relative">
                        <img th:src="${orderDetail.getOrderItemResponses[0].getProductItemResponse().getImageResponses[0].url}" alt="" class="w-100 product-img-checkout">
                      </div>
                      <div class="col-lg-7 ps-5">
                        <div class="product-name" th:text="${orderDetail.getOrderItemResponses[0].getProductItemResponse().name}"></div>
                        <span class="d-block" style="font-size: 12px;color: #727171;" th:text="${orderDetail.getOrderItemResponses[0].getColor() + ' / ' + orderDetail.getOrderItemResponses[0].getSize() }"></span>
                        <span class="d-block" th:text="${'x' + orderDetail.getTotalQuantity()}"> x4</span>
                      </div>
                      <div class="col-lg-3 text-end">
                        <span class="product-price-checkout d-flex flex-column">
                            <span th:if="${orderDetail.getOrderItemResponses[0].getProductItemResponse().discountPrice != 0}">
                              <span class="text-decoration-line-through price"  th:text="${orderDetail.getOrderItemResponses[0].getProductItemResponse().price}"></span>
                              <strong style="color: #E64A45;" th:class="'price'" th:text="${orderDetail.getOrderItemResponses[0].getProductItemResponse().discountPrice}"></strong>
                            </span>
                            <span th:if="${orderDetail.getOrderItemResponses[0].getProductItemResponse().discountPrice == 0}">
                              <strong style="color: #E64A45;" th:class="'price'" th:text="${orderDetail.getOrderItemResponses[0].getProductItemResponse().price}"></strong>
                            </span>
                        </span>
                      </div>
                    </div>
                    <div class="row order-item-end">
                      <div class="col-lg-12 text-end">
                          <i class="fa-solid fa-file-invoice-dollar pe-2 fs-4"></i>
                          | Tổng tiền:
                          <h4 class="d-inline-block">
                            <strong th:class="'price'" style="color: #E64A45;" th:text="${orderDetail.getTotalAmount()}">1.990.000đ</strong>
                          </h4>
                      </div>
                    </div>

                    <div class="row order-item-end py-3 ">
                      <div class="col-lg-12 d-flex justify-content-between align-items-center">
                       <span>
                          <p th:text="${'Ghi chú: '  + orderDetail.getNotes()}"></p>
                          <span th:text="${'Thời gian: '  + orderDetail.getCreatedDate()}"></span>
                        </span>
                        <div>
                          <a href="#" class="me-2">Mua lần nữa</a>
                          <a href="#">Xem chi tiết</a>
                        </div>

                      </div>
                    </div>
                  </div>
                </th:block>

              </div>
  
              <div class="tab-pane fade pt-3" id="order-2">
                <th:block th:each="orderDetail : ${orderDetailStatus2}">
                  <div class="order-item">
                    <div class="order-title d-flex justify-content-between align-items-center">
                      <strong th:text="${'#' + orderDetail.getOrderCode()}"></strong>
                      <span>
                    <i class="fa-solid fa-truck"></i>
                      | <span th:class="'badge bg-primary'" th:text="'Đang giao'"></span>
                    </span>
                    </div>
                    <div class="row mx-0 align-items-center py-2">
                      <div class="col-lg-2 position-relative">
                        <img th:src="${orderDetail.getOrderItemResponses[0].getProductItemResponse().getImageResponses[0].url}" alt="" class="w-100 product-img-checkout">
                      </div>
                      <div class="col-lg-7 ps-5">
                        <div class="product-name" th:text="${orderDetail.getOrderItemResponses[0].getProductItemResponse().name}"></div>
                        <span class="d-block" style="font-size: 12px;color: #727171;" th:text="${orderDetail.getOrderItemResponses[0].getColor() + ' / ' + orderDetail.getOrderItemResponses[0].getSize() }"></span>
                        <span class="d-block" th:text="${'x' + orderDetail.getTotalQuantity()}"> x4</span>
                      </div>
                      <div class="col-lg-3 text-end">
                        <span class="product-price-checkout d-flex flex-column">
                            <span th:if="${orderDetail.getOrderItemResponses[0].getProductItemResponse().discountPrice != 0}">
                              <span class="text-decoration-line-through price"  th:text="${orderDetail.getOrderItemResponses[0].getProductItemResponse().price}"></span>
                              <strong style="color: #E64A45;" th:class="'price'" th:text="${orderDetail.getOrderItemResponses[0].getProductItemResponse().discountPrice}"></strong>
                            </span>
                            <span th:if="${orderDetail.getOrderItemResponses[0].getProductItemResponse().discountPrice == 0}">
                              <strong style="color: #E64A45;" th:class="'price'" th:text="${orderDetail.getOrderItemResponses[0].getProductItemResponse().price}"></strong>
                            </span>
                        </span>
                      </div>
                    </div>
                    <div class="row order-item-end">
                      <div class="col-lg-12 text-end">
                          <i class="fa-solid fa-file-invoice-dollar pe-2 fs-4"></i>
                          | Tổng tiền:
                          <h4 class="d-inline-block">
                            <strong th:class="'price'" style="color: #E64A45;" th:text="${orderDetail.getTotalAmount()}">1.990.000đ</strong>
                          </h4>
                      </div>
                    </div>

                    <div class="row order-item-end py-3 ">
                      <div class="col-lg-12 d-flex justify-content-between align-items-center">
                       <span>
                          <p th:text="${'Ghi chú: '  + orderDetail.getNotes()}"></p>
                          <span th:text="${'Thời gian: '  + orderDetail.getCreatedDate()}"></span>
                        </span>
                        <div>
                          <a href="#" class="me-2">Mua lần nữa</a>
                          <a href="#">Xem chi tiết</a>
                        </div>

                      </div>
                    </div>
                  </div>
                </th:block>

              </div>
  
              <div class="tab-pane  fade pt-3" id="order-3">
                <th:block th:each="orderDetail : ${orderDetailStatus3}">
                  <div class="order-item">
                    <div class="order-title d-flex justify-content-between align-items-center">
                      <strong th:text="${'#' + orderDetail.getOrderCode()}"></strong>
                      <span>
                    <i class="fa-solid fa-truck"></i>
                      |
                        <span  th:class="'badge bg-success'" th:text="'Đã giao'"></span>
                    </span>
                    </div>
                    <div class="row mx-0 align-items-center py-2">
                      <div class="col-lg-2 position-relative">
                        <img th:src="${orderDetail.getOrderItemResponses[0].getProductItemResponse().getImageResponses[0].url}" alt="" class="w-100 product-img-checkout">
                      </div>
                      <div class="col-lg-7 ps-5">
                        <div class="product-name" th:text="${orderDetail.getOrderItemResponses[0].getProductItemResponse().name}"></div>
                        <span class="d-block" style="font-size: 12px;color: #727171;" th:text="${orderDetail.getOrderItemResponses[0].getColor() + ' / ' + orderDetail.getOrderItemResponses[0].getSize() }"></span>
                        <span class="d-block" th:text="${'x' + orderDetail.getTotalQuantity()}"> x4</span>
                      </div>
                      <div class="col-lg-3 text-end">
                        <span class="product-price-checkout d-flex flex-column">
                            <span th:if="${orderDetail.getOrderItemResponses[0].getProductItemResponse().discountPrice != 0}">
                              <span class="text-decoration-line-through price"  th:text="${orderDetail.getOrderItemResponses[0].getProductItemResponse().price}"></span>
                              <strong style="color: #E64A45;" th:class="'price'" th:text="${orderDetail.getOrderItemResponses[0].getProductItemResponse().discountPrice}"></strong>
                            </span>
                            <span th:if="${orderDetail.getOrderItemResponses[0].getProductItemResponse().discountPrice == 0}">
                              <strong style="color: #E64A45;" th:class="'price'" th:text="${orderDetail.getOrderItemResponses[0].getProductItemResponse().price}"></strong>
                            </span>
                        </span>
                      </div>
                    </div>
                    <div class="row order-item-end">
                      <div class="col-lg-12 text-end">
                          <i class="fa-solid fa-file-invoice-dollar pe-2 fs-4"></i>
                          | Tổng tiền:
                          <h4 class="d-inline-block">
                            <strong th:class="'price'" style="color: #E64A45;" th:text="${orderDetail.getTotalAmount()}">1.990.000đ</strong>
                          </h4>
                      </div>
                    </div>

                    <div class="row order-item-end py-3 ">
                      <div class="col-lg-12 d-flex justify-content-between align-items-center">
                       <span>
                          <p th:text="${'Ghi chú: '  + orderDetail.getNotes()}"></p>
                          <span th:text="${'Thời gian: '  + orderDetail.getCreatedDate()}"></span>
                        </span>
                        <div>
                          <a href="#" class="me-2">Mua lần nữa</a>
                          <a href="#">Xem chi tiết</a>
                        </div>

                      </div>
                    </div>
                  </div>
                </th:block>

              </div>
  
              <div class="tab-pane  fade pt-3" id="order-4">
                <th:block th:each="orderDetail : ${orderDetailStatus4}">
                  <div class="order-item">
                    <div class="order-title d-flex justify-content-between align-items-center">
                      <strong th:text="${'#' + orderDetail.getOrderCode()}"></strong>
                      <span>
                    <i class="fa-solid fa-truck"></i>
                      | <span  th:class="'badge bg-danger'" th:text="'Đã huỷ'"></span>
                    </span>
                    </div>
                    <div class="row mx-0 align-items-center py-2">
                      <div class="col-lg-2 position-relative">
                        <img th:src="${orderDetail.getOrderItemResponses[0].getProductItemResponse().getImageResponses[0].url}" alt="" class="w-100 product-img-checkout">
                      </div>
                      <div class="col-lg-7 ps-5">
                        <div class="product-name" th:text="${orderDetail.getOrderItemResponses[0].getProductItemResponse().name}"></div>
                        <span class="d-block" style="font-size: 12px;color: #727171;" th:text="${orderDetail.getOrderItemResponses[0].getColor() + ' / ' + orderDetail.getOrderItemResponses[0].getSize() }"></span>
                        <span class="d-block" th:text="${'x' + orderDetail.getTotalQuantity()}"> x4</span>
                      </div>
                      <div class="col-lg-3 text-end">
                        <span class="product-price-checkout d-flex flex-column">
                            <span th:if="${orderDetail.getOrderItemResponses[0].getProductItemResponse().discountPrice != 0}">
                              <span class="text-decoration-line-through price"  th:text="${orderDetail.getOrderItemResponses[0].getProductItemResponse().price}"></span>
                              <strong style="color: #E64A45;" th:class="'price'" th:text="${orderDetail.getOrderItemResponses[0].getProductItemResponse().discountPrice}"></strong>
                            </span>
                            <span th:if="${orderDetail.getOrderItemResponses[0].getProductItemResponse().discountPrice == 0}">
                              <strong style="color: #E64A45;" th:class="'price'" th:text="${orderDetail.getOrderItemResponses[0].getProductItemResponse().price}"></strong>
                            </span>
                        </span>
                      </div>
                    </div>
                    <div class="row order-item-end">
                      <div class="col-lg-12 text-end">
                          <i class="fa-solid fa-file-invoice-dollar pe-2 fs-4"></i>
                          | Tổng tiền:
                          <h4 class="d-inline-block">
                            <strong th:class="'price'" style="color: #E64A45;" th:text="${orderDetail.getTotalAmount()}">1.990.000đ</strong>
                          </h4>
                      </div>
                    </div>

                    <div class="row order-item-end py-3 ">
                      <div class="col-lg-12 d-flex justify-content-between align-items-center">
                       <span>
                          <p th:text="${'Ghi chú: '  + orderDetail.getNotes()}"></p>
                          <span th:text="${'Thời gian: '  + orderDetail.getCreatedDate()}"></span>
                        </span>
                        <div>
                          <a href="#" class="me-2">Mua lần nữa</a>
                          <a href="#">Xem chi tiết</a>
                        </div>

                      </div>
                    </div>
                  </div>
                </th:block>

              </div>
            </div><!-- End Bordered Tabs -->
  
          </div>
        </div>
      </div>
    </div>
  </main>

  <th:block th:replace="~{web/fragments/footer :: footer}"></th:block>
</body>
</html>