<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin cá nhân</title>
    <!--CSS FILES-->
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/aos/aos.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/fontawesome/css/all.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/simple-datatables/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <!--JAVASCRIPT FILES-->
    <script th:src="@{'https://unpkg.com/isotope-layout@3.0.6/dist/isotope.pkgd.js'}"></script>

</head>
<body>
<th:block th:replace="~{web/fragments/header :: header}"></th:block>

<main id="main" class="orders">
    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                <li class="breadcrumb-item active">Thông tin cá nhân</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="row mx-0 mt-5">
        <div class="col-lg-3 offset-1">
            <div class="card">
                <div class="card-body order-card pt-4 ">
                    <div class="d-flex justify-content-center align-items-center">
                        <img th:if="${oldUser.getImage() == null}" src="/assets/images/user/default.png" alt="order" class="rounded-circle">
                        <img th:if="${oldUser.getImage() != null}" th:src="${oldUser.getImage()}" alt="order" class="rounded-circle">
                        <div class="ps-3">
                            <h5 class="mb-0" th:text="${oldUser.fullname}"></h5>
                            <span><a th:href="@{/home/user/profile}" class="edit-profile"><i class="fa-solid fa-pencil pe-1"></i>Sửa hồ sơ</a></i></span>
                        </div>
                    </div>

                    <ul class="order-list">
                        <li>
                            <i class="fa-solid fa-signature"></i>
                            <span th:text="${oldUser.fullname}"></span>
                        </li>
                        <li>
                            <i class="fa-solid fa-at"></i>
                            <span th:text="${oldUser.email}"></span>
                        </li>
                        <li>
                            <i class="fa-solid fa-mobile-screen"></i>
                            <span th:text="${oldUser.phone}"></span>
                        </li>
                        <li>
                            <i class="fa-solid fa-location-dot"></i>
                            <span th:text="${oldUser.address}"></span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <section class="section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Thay đổi thông tin cá nhân</h5>
                                <form th:action="@{/home/user/profile/change}" th:method="'post'" th:object="${profileRequest}" enctype="multipart/form-data">
                                    <input type="hidden" name="_method" value="PUT">
                                    <!-- fullname-->
                                    <div class="row mx-0 mt-3 align-items-center">
                                        <label class="col-lg-2 text-end py-2" for="fullname">
                                            Họ và tên:
                                        </label>
                                        <div class="col-lg-4">
                                            <input type="text" class="form-control"  id ="fullname" name ="fullname" th:value="${oldUser.getFullname()}">
                                        </div>
                                    </div>

                                    <div class="row mx-0 mt-3 align-items-center">
                                        <label class="col-lg-2 text-end py-2" for="email">
                                            Email:
                                        </label>
                                        <div class="col-lg-4">
                                            <input type="text" disabled class="form-control"  id ="email" name ="email" th:value="${oldUser.getEmail()}">
                                        </div>

                                        <label class="col-lg-2 text-end py-2" for="phone">
                                            Điện thoại:
                                        </label>
                                        <div class="col-lg-4">
                                            <input type="text" class="form-control"  id ="phone" name ="phone" th:value="${oldUser.getPhone()}">
                                        </div>
                                    </div>

                                    <div class="row mx-0 mt-3 align-items-center">
                                        <label class="col-lg-2 text-end py-2" for="image">
                                            Hình ảnh:
                                        </label>
                                        <div class="col-lg-3">
                                            <input type="file" class=""  id ="image" name ="image">
                                        </div>
                                    </div>

                                    <div class="row mx-0 mt-3 align-items-center">
                                        <label class="col-lg-2 text-end py-2" for="address">
                                            Địa chỉ:
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control"  id ="address" name ="address" th:value="${oldUser.getAddress()}">
                                        </div>
                                    </div>

                                    <div class="row align-items-center">
                                        <div class="col-md-12 mx-auto text-center">
                                            <hr class=" border-top border-1 border-secondary">
                                        </div>
                                    </div>
                                    <div class="row mt-3 ">
                                        <div class="col-md-12 text-center">
                                            <button type="submit" class="btn btn-success mx-2" id="send"><i class="fa-solid fa-right-to-bracket"></i> Lưu thay đổi</button>
                                        </div>
                                    </div>
                                </form>
                                <!-- End Table with stripped rows -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>

<th:block th:replace="~{web/fragments/footer :: footer}"></th:block>
</body>
</html>