<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--CSS FILES-->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendor/aos/aos.css">
    <link rel="stylesheet" href="/assets/vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/vendor/glightbox/css/glightbox.min.css">

    <link rel="stylesheet" href="/assets/vendor/fontawesome/css/all.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <!--JAVASCRIPT FILES-->
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>

</head>
<body>
<th:block th:replace="~{web/fragments/header :: header}"></th:block>

<main id="main" class="orders">
    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                <li class="breadcrumb-item active">Thông tin cá nhân</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="row mx-0 mt-5">
        <div class="col-lg-3 offset-1">
            <div class="card">
                <div class="card-body order-card pt-4 ">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="assets/images/event-2.jpg" alt="order" class="rounded-circle">
                        <div class="ps-3">
                            <h5 class="mb-0">Lê Minh Mạnh</h5>
                            <span><a href="#" class="edit-profile"><i class="fa-solid fa-pencil pe-1"></i>Sửa hồ sơ</a></i></span>
                        </div>
                    </div>

                    <ul class="order-list">
                        <li><a href=""><i class="fa-solid fa-user-astronaut pe-1" style="color: #4DB3B3;"></i><span>Tài khoản của tôi</span></a></li>
                        <li><a href=""><i class="fa-solid fa-baby-carriage pe-1 text-success"></i><span>Đơn mua</span></a></li>
                        <li><a href=""><i class="fa-solid fa-triangle-exclamation pe-1" style="color: #E64A45;"></i><span>Thông báo</span></a></li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <section class="section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Thay đổi thông tin cá nhân</h5>
                                <form th:action="@{/home/user/profile/change}" th:method="'post'" th:object="${profileRequest}" enctype="multipart/form-data">
                                    <input type="hidden" name="_method" value="PUT">
                                    <!-- fullname-->
                                    <div class="row mx-0 mt-3 align-items-center">
                                        <label class="col-lg-2 text-end py-2" for="fullname">
                                            Họ và tên:
                                        </label>
                                        <div class="col-lg-4">
                                            <input type="text" class="form-control"  id ="fullname" name ="fullname" th:value="${oldUser.getFullname()}">
                                        </div>
                                    </div>

                                    <div class="row mx-0 mt-3 align-items-center">
                                        <label class="col-lg-2 text-end py-2" for="email">
                                            Email:
                                        </label>
                                        <div class="col-lg-4">
                                            <input type="text" disabled class="form-control"  id ="email" name ="email" th:value="${oldUser.getEmail()}">
                                        </div>

                                        <label class="col-lg-2 text-end py-2" for="phone">
                                            Điện thoại:
                                        </label>
                                        <div class="col-lg-4">
                                            <input type="text" class="form-control"  id ="phone" name ="phone" th:value="${oldUser.getPhone()}">
                                        </div>
                                    </div>

                                    <div class="row mx-0 mt-3 align-items-center">
                                        <label class="col-lg-2 text-end py-2" for="image">
                                            Hình ảnh:
                                        </label>
                                        <div class="col-lg-3">
                                            <input type="file" class=""  id ="image" name ="image">
                                        </div>
                                    </div>

                                    <div class="row mx-0 mt-3 align-items-center">
                                        <label class="col-lg-2 text-end py-2" for="address">
                                            Địa chỉ:
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control"  id ="address" name ="address" th:value="${oldUser.getAddress()}">
                                        </div>
                                    </div>

                                    <div class="row align-items-center">
                                        <div class="col-md-12 mx-auto text-center">
                                            <hr class=" border-top border-1 border-secondary">
                                        </div>
                                    </div>
                                    <div class="row mt-3 ">
                                        <div class="col-md-12 text-center">
                                            <button type="submit" class="btn btn-success mx-2" id="send"><i class="fa-solid fa-right-to-bracket"></i> Lưu thay đổi</button>
                                        </div>
                                    </div>
                                </form>
                                <!-- End Table with stripped rows -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>

<!-- ======= Footer ======= -->
<footer id="footer" class="footer mt-5">

    <div class="container">
        <div class="row gy-3">
            <div class="col-lg-3 col-md-6 d-flex">
                <i class="bi bi-geo-alt icon"></i>
                <div>
                    <h4>Địa chỉ</h4>
                    <p>
                        Đôn Nhân <br>
                        Sông Lô, Vĩnh Phúc<br>
                    </p>
                </div>

            </div>

            <div class="col-lg-3 col-md-6 footer-links d-flex">
                <i class="bi bi-telephone icon"></i>
                <div>
                    <h4>Thông tin liên hệ</h4>
                    <p>
                        <strong>Điện thoại:</strong> +84 0379 612 164<br>
                        <strong>Email:</strong> mshoes@gmail.com<br>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 footer-links d-flex">
                <i class="bi bi-clock icon"></i>
                <div>
                    <h4>Thời gian mở cửa</h4>
                    <p>
                        <strong>Mon - Sat</strong> 8AM - 22PM
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
                <h4>Theo dõi chúng tôi</h4>
                <div class="social-links d-flex">
                    <a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>ManhMinh</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>

</footer><!-- End Footer -->
<!-- End Footer -->
<div id="preloader"></div>


<!--Vendor JavaScript Files-->
<script type="text/javascript" src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<script type="text/javascript" src="/assets/js/main.js"></script>
</body>
</body>
</html>