<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <th:block th:fragment="navbar">
        <!-- ======= Sidebar ======= -->
        <aside id="sidebar" class="sidebar">

            <ul class="sidebar-nav" id="sidebar-nav">
                <li class="nav-item py-3">
                    <i class="fa-brands fa-jedi-order"></i>
                    <span class="navbar-text">Mshoes<span style="color: #E6772E;">.</span></span>
                </li><!-- End Dashboard Nav -->

                <li class="nav-item">
                    <a class="nav-link " th:href="@{/}">
                        <i class="fa-brands fa-squarespace"></i>
                        <span class="navbar-text">Tổng quan </span>
                    </a>
                </li><!-- End Dashboard Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" th:href="@{/admin/order}">
                        <i class="fa-brands fa-opencart"></i>
                        <span class="navbar-text">Quản lý đơn hàng</span>
                        <i class="fa-solid fa-chevron-down ms-auto"></i>
                    </a>
                    <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a th:href="@{/admin/order}">
                                <i class="fa-regular fa-circle"></i><span>Xem đơn hàng</span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/admin/order}">
                                <i class="fa-regular fa-circle"></i><span>Chi tiết đơn hàng</span>
                            </a>
                        </li>
                    </ul>
                </li><!-- End Order Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" th:href="@{/admin/product}">
                        <i class="fa-solid fa-cube"></i><span class="navbar-text">Quản lý sản phẩm</span>
                        <i class="fa-solid fa-chevron-down ms-auto"></i>
                    </a>
                    <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a th:href="@{/admin/product}">
                                <i class="fa-regular fa-circle"></i><span>Xem sản phẩm</span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/admin/product/create}">
                                <i class="fa-regular fa-circle"></i><span>Thêm mới sản phẩm</span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/admin/product}">
                                <i class="fa-regular fa-circle"></i><span>Chi tiết sản phẩm sản phẩm</span>
                            </a>
                        </li>
                    </ul>
                </li><!-- End Product Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" th:href="@{/admin/user}">
                        <i class="fa-solid fa-users-viewfinder"></i><span class="navbar-text">Quản lý tài khoản</span>
                        <i class="fa-solid fa-chevron-down ms-auto"></i>
                    </a>
                    <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a th:href="@{/admin/user}">
                                <i class="fa-regular fa-circle"></i><span>Xem tài khoản</span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/admin/user/create}">
                                <i class="fa-regular fa-circle"></i><span>Thêm mới tài khoản</span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/admin/user}">
                                <i class="fa-regular fa-circle"></i><span>Chi tiết tài khoản</span>
                            </a>
                        </li>
                    </ul>
                </li><!-- End Account Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                        <i class="fa-solid fa-bars-staggered"></i><span class="navbar-text">Quản lý danh mục</span><i class="fa-solid fa-chevron-down ms-auto"></i>
                    </a>
                    <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a th:href="@{/admin/category}">
                                <i class="fa-regular fa-circle"></i><span>Xem danh mục</span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/admin/category/create}">
                                <i class="fa-regular fa-circle"></i><span>Thêm mới danh mục</span>
                            </a>
                        </li>
                        <li>
                        <a th:href="@{/admin/category}">
                            <i class="fa-regular fa-circle"></i><span>Chi tiết danh mục</span>
                        </a>
                    </li>
                    </ul>
                </li><!-- End Category Nav -->
            </ul>
        </aside><!-- End Sidebar-->
    </th:block>
</body>
</html>